<!DOCTYPE html>
<html lang="{{ shop.locale }}">
  <head>
    <!-- Google Optimize: START -->
<script src="https://www.googleoptimize.com/optimize.js?id=GTM-PZWZGJ8"></script>
    <!-- Google Amplify: END -->
<!-- AMPIFY-ME:START -->
{% include 'ampify-me-snippet' %}
<!-- AMPIFY-ME:END -->

    <meta charset="utf-8">
    <meta http-equiv="cleartype" content="on">
    <meta name="robots" content="index,follow">
	<!-- Global site tag (gtag.js) - Google Ads: 1070419223 -->
<script async src="https://www.googletagmanager.com/gtag/js?id=AW-1070419223"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'AW-1070419223');
</script>
    {% if current_tags %}{% assign meta_tags = current_tags | join: ', ' %}{% endif %}
    <title>{% if template contains "index" %}{{ page_title }}{% else %}{{ page_title }}{% if current_tags %} {{ 'general.meta.tagged_html' | t: tags: meta_tags }}{% endif %}{% if current_page != 1 %} {{ 'general.meta.page' | t: page_number: current_page }}{% endif %}{% unless page_title contains shop.name %} - {{ shop.name }}{% endunless %}{% endif %}</title>

    {% if page_description %}
      <meta name="description" content="{{ page_description | escape }}{% if current_tags %} {{ 'general.meta.tagged_html' | t: tags: meta_tags | escape }}.{% endif %}{% if current_page != 1 %} {{ 'general.meta.page' | t: page_number: current_page }}.{% endif %}" />
    {% endif %}

    <!-- Custom Fonts -->
    {% if settings.logo_font contains 'Google' or settings.headline_font contains 'Google' or settings.nav_font contains 'Google' or settings.slideshow_subtitle_font contains 'Google' or settings.regular_font contains 'Google' %}
      <link href="//fonts.googleapis.com/css?family=.|{% if settings.logo_font contains 'Google' %}{{ settings.logo_font | replace: 'Google_', '' }}:light,normal,bold|{% endif %}{% if settings.headline_font contains 'Google' %}{{ settings.headline_font | replace: 'Google_', '' }}:light,normal,bold|{% endif %}{% if settings.nav_font contains 'Google' %}{{ settings.nav_font | replace: 'Google_', '' }}:light,normal,bold|{% endif %}{% if settings.slideshow_subtitle_font contains 'Google' %}{{ settings.slideshow_subtitle_font | replace: 'Google_', '' }}:light,normal,bold|{% endif %}{% if settings.slideshow_subtitle_font contains 'Google' %}{{ settings.slideshow_subtitle_font | replace: 'Google_', '' }}:light,normal,bold|{% endif %}{% if settings.regular_font contains 'Google' %}{{ settings.regular_font | replace: 'Google_', ''  }}:light,normal,bold{% endif %}" rel="stylesheet" type="text/css" />
    {% endif %}

    {% include 'social-meta-info' %}

    {% if collection.previous_product %}
      <link rel="prev" href="{{ collection.previous_product }}">
    {% endif %}
    {% if collection.next_product %}
      <link rel="next" href="{{ collection.next_product }}">
    {% endif %}

    <!-- Mobile Specific Metas -->
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="theme-color" content="{{ settings.shop_bg_color }}">

    <!-- Stylesheets for Retina 4.4.0 -->
    {{ 'styles.scss.css' | asset_url | stylesheet_tag }}
    <!--[if lte IE 9]>
      {{ 'ie.css' | asset_url | stylesheet_tag }}
    <![endif]-->

    {% if settings.favicon != nil %}
      <link rel="shortcut icon" type="image/x-icon" href="{{ settings.favicon | img_url: '32x32' }}">
    {% else %}
      <link rel="shortcut icon" type="image/x-icon" href="{{ 'favicon.png' | asset_url }}">
    {% endif %}

    <link rel="canonical" href="{{ canonical_url }}" />

    {% if template contains 'customer' %}
      {{ "shopify_common.js" | shopify_asset_url | script_tag }}
      {{ "customer_area.js"  | shopify_asset_url | script_tag }}
    {% endif %}

    {{ 'app.js' | asset_url | script_tag }}
<!-- include 'buddha-megamenu-before' -->
<!-- include 'buddha-megamenu' -->
    
  {% render 'orbislabs_sitemap_noindex' %}

{% include 'matcha-snippet' %}
  {{ content_for_header }}


    <noscript>
      <style>
        .lazyload--mirage+.transition-helper {
          display: none;
        }
        .image__fallback {
          width: 100vw;
          display: block !important;
          max-width: 100vw !important;
          margin-bottom: 0;
        }
        .no-js-only {
          display: inherit !important;
        }
        .icon-cart.cart-button {
          display: none;
        }
        .lazyload {
          opacity: 1;
          -webkit-filter: blur(0);
          filter: blur(0);
        }
        .animate_right,
        .animate_left,
        .animate_up,
        .animate_down {
          opacity: 1;
        }
        .flexslider .slides>li {
          display: block;
        }
        .product_section .product_form {
          opacity: 1;
        }
        .multi_select,
        form .select {
          display: block !important;
        }
        .swatch_options {
          display: none;
        }
        .primary_logo {
          display: block;
        }
      </style>
    </noscript>

<!-- Facebook Pixel Code -->
<script>
  !function(f,b,e,v,n,t,s)
  {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
  n.callMethod.apply(n,arguments):n.queue.push(arguments)};
  if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
  n.queue=[];t=b.createElement(e);t.async=!0;
  t.src=v;s=b.getElementsByTagName(e)[0];
  s.parentNode.insertBefore(t,s)}(window, document,'script',
  'https://connect.facebook.net/en_US/fbevents.js');
  fbq('init', '138194336922418');
  fbq('track', 'PageView');
</script>
<noscript><img height="1" width="1" style="display:none"
  src="https://www.facebook.com/tr?id=138194336922418&ev=PageView&noscript=1"
/></noscript>
<!-- End Facebook Pixel Code -->

<!-- Start of adroll script -->
<script type="text/javascript">
    adroll_adv_id = "GT4YKXFNNFDGHBUOWB7MFS";
    adroll_pix_id = "T4QKNC2AOFBXHND4KY6ZXC";
    /* OPTIONAL: provide email to improve user identification */
    /* adroll_email = "username@example.com"; */
    (function () {
        var _onload = function(){
            if (document.readyState && !/loaded|complete/.test(document.readyState)){setTimeout(_onload, 10);return}
            if (!window.__adroll_loaded){__adroll_loaded=true;setTimeout(_onload, 50);return}
            var scr = document.createElement("script");
            var host = (("https:" == document.location.protocol) ? "https://s.adroll.com" : "http://a.adroll.com");
            scr.setAttribute('async', 'true');
            scr.type = "text/javascript";
            scr.src = host + "/j/roundtrip.js";
            ((document.getElementsByTagName('head') || [null])[0] ||
                document.getElementsByTagName('script')[0].parentNode).appendChild(scr);
        };
        if (window.addEventListener) {window.addEventListener('load', _onload, false);}
        else {window.attachEvent('onload', _onload)}
    }());
</script>
<!-- End of adroll script -->

<!-- Start of veriluxhelp Zendesk Widget script -->
<script>/*<![CDATA[*/window.zEmbed||function(e,t){var n,o,d,i,s,a=[],r=document.createElement("iframe");window.zEmbed=function(){a.push(arguments)},window.zE=window.zE||window.zEmbed,r.src="javascript:false",r.title="",r.role="presentation",(r.frameElement||r).style.cssText="display: none",d=document.getElementsByTagName("script"),d=d[d.length-1],d.parentNode.insertBefore(r,d),i=r.contentWindow,s=i.document;try{o=s}catch(e){n=document.domain,r.src='javascript:var d=document.open();d.domain="'+n+'";void(0);',o=s}o.open()._l=function(){var e=this.createElement("script");n&&(this.domain=n),e.id="js-iframe-async",e.src="https://assets.zendesk.com/embeddable_framework/main.js",this.t=+new Date,this.zendeskHost="veriluxhelp.zendesk.com",this.zEQueue=a,this.body.appendChild(e)},o.write('<body onload="document._l();">'),o.close()}();
/*]]>*/</script>
<!-- End of veriluxhelp Zendesk Widget script -->

<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-PG53F34');</script>
<!-- End Google Tag Manager -->

    
    
<script type="text/javascript">
/*<![CDATA[*/
(function() {
var sz = document.createElement('script'); sz.type = 'text/javascript'; sz.async = true;
sz.src = '//siteimproveanalytics.com/js/siteanalyze_6145918.js';
var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(sz, s);
})();
/*]]>*/
</script>

    <!-- Only include one of the below in your theme. -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/shopify-cartjs/0.4.1/cart.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/shopify-cartjs/0.4.1/rivets-cart.min.js"></script>
    
        
  <script src='https://affilo.io/libs/affiliate.lib.js'></script> 
 {% include 'booster-common' %}
 
{% render 'pagefly-header' %}
 </head> 
  {% if template contains "index" or template contains "page.details" or template contains "blog" or template contains "faq" or template contains "contact" %}
    {% assign feature_image = true %}
  {% else %}
    {% assign feature_image = false %}
  {% endif %}
  
  {% assign bodyId = page_title | handle %}
  {% if template contains "search" %}
    {% assign bodyId = 'search-results' %}
  {% endif %}
  
  <body data-tmp="{{template}}" id="{{ bodyId | handle }}" class="page-{{ page_title | handle }} {{ template | replace: '.', '-' | handle }} {% if feature_image %}feature_image{% endif %}"
    data-money-format="{{ shop.money_format }}">
<!-- Google Tag Manager (noscript) -->
<noscript><iframe title="Google Tag Manager" src="https://www.googletagmanager.com/ns.html?id=GTM-PG53F34"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->

  <!-- include 'buddha-megamenu-wireframe' -->
    
    <div id="content_wrapper">

      {% section 'header' %}

      <div  data-feature-image="{{ feature_image }}" data-template="{{ template }}" class="main_content_area {% unless template contains "product.details" %}content {% unless feature_image %}container{% endunless %}{% endunless %}">
        
        {{ content_for_layout }}

      </div>

      {% include 'cart-shipping-calculator' %}
      {% section 'footer' %}

      <div id="search">
        <div class="container">
          <div class="ten columns offset-by-three center">
            <div class="right search-close">
              <span class="icon-close"></span>
            </div>
            <form action="/search">
              {% if settings.search_option != 'everything' %}
                <input type="hidden" name="type" value="product" />
              {% endif %}
              <span class="icon-search search-submit"></span>
              <input title="Search" type="text" name="q" placeholder="{{ 'general.search.placeholder_with_shop_name' | t: shop_name: shop.name }}" value="{% if search and search.results.first.price %}{{ search.terms }}{% endif %}" autocapitalize="off" autocomplete="off" autocorrect="off" />
              <span class="hidden"><input type="submit" title="Submit" value="Submit" /></span>
            </form>
          </div>
        </div>
      </div>
    </div>
    {% if settings.size_chart != blank %}
      <div id="size-chart" class="size_chart_content">
        <h5 class="center">{{ pages[settings.size_chart].title }}</h5>
        {{ pages[settings.size_chart].content }}
      </div>
    {% endif %}

    {% include 'newsletter-popup' %}
    {% include 'currencies' %}
    {% if settings.disqus_enabled %}
      {% if template contains "blog" or template contains "article" or template contains "index" %}
        <script id="dsq-count-scr" src="//{{ settings.disqus_shortname }}.disqus.com/count.js" async></script>
      {% endif %}
    {% endif %}

    <script id="e2ma-embed">window.e2ma=window.e2ma||{};e2ma.accountId='1800666';</script><script src="//dk98ddgl0znzm.cloudfront.net/e2ma.js" async="async"></script>

      <!-- Start of bing script -->
  <script>(function(w,d,t,r,u){var f,n,i;w[u]=w[u]||[],f=function(){var o={ti:"5442403"};o.q=w[u],w[u]=new UET(o),w[u].push("pageLoad")},n=d.createElement(t),n.src=r,n.async=1,n.onload=n.onreadystatechange=function(){var s=this.readyState;s&&s!=="loaded"&&s!=="complete"||(f(),n.onload=n.onreadystatechange=null)},i=d.getElementsByTagName(t)[0],i.parentNode.insertBefore(n,i)})(window,document,"script","//bat.bing.com/bat.js","uetq");</script><noscript><img src="//bat.bing.com/action/0?ti=5442403&Ver=2" height="0" width="0" style="display:none; visibility: hidden;" /></noscript>
  <!-- End of bing script -->

  <!-- START Google Dynamic Remarketing For Theme.Liquid -->
<script type="text/javascript">

{% if template contains 'collection' %}
// Collection Page
// {{ collection.all_products.first.variants.first.sku }}
// {{ collection.all_products.first.id }}
// {{ collection.all_products.first.variants.first.id }}
var google_tag_params = {
ecomm_prodid: ['{{ collection.all_products.first.variants.first.id }}'],
ecomm_pagetype: 'product',
ecomm_totalvalue: {{ collection.all_products.first.price_min | money_without_currency | remove: "," }}
};

{% elsif template contains 'product' %}
// Product Page
// {{ product.variants.first.sku }}
// {{ product.id }}
// {{ product.variants.first.id }}
var google_tag_params = {
ecomm_prodid: ['{{ product.id }}'],
ecomm_pagetype: 'product',
ecomm_totalvalue: {{ product.price_min | money_without_currency | remove: "," }}
};

{% elsif template contains 'cart' %}
// Cart Page
// {{ item.variant.sku }}
// {{ item.id }}
// {{ item.variant_id }}
var google_tag_params = {
ecomm_prodid: [{% for item in cart.items %}'{{ item.id }}'{% if forloop.last != true %},{% endif %}{% endfor %}],
ecomm_pagetype: 'cart',
ecomm_totalvalue: {{ cart.total_price | money_without_currency | remove: "," }}
};

{% elsif template contains 'search' %}
// Search Page
var google_tag_params = {
ecomm_pagetype: 'searchresults'
};

{% elsif template contains 'index' %}
// Home Page
var google_tag_params = {
ecomm_pagetype: 'home'
};

{% else %}
// Other Page
var google_tag_params = {
ecomm_pagetype: 'other'
};
{% endif %}
</script>

<script type="text/javascript">
/* <![CDATA[ */
var google_conversion_id = 1070419223;
var google_custom_params = window.google_tag_params;
var google_remarketing_only = true;
var google_conversion_format = 3;
/* ]]> */
</script>
<script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js"></script>
<noscript>
<div style="display:inline;">
<img height="1" width="1" style="border-style:none;" alt="" src="//googleads.g.doubleclick.net/pagead/viewthroughconversion/1070419223/?value=0&guid=ON&script=0"/>
</div>
</noscript>
<!-- END Google Dynamic Remarketing For Theme.Liquid -->
<!-- START Shopmessage Script -->
  <script async type="text/javascript" data-api-key="pubkey-F4YEhC942QuTN9x0lw6Ef4znRaCLIO" id="stamped-script-widget" src="https://cdn-stamped-io.azureedge.net/files/widget.min.js"></script>
{% if customer %} <div id="shopmsg-customer-helper" data-id="{{ customer.id }}" style="display:none;"></div>{% endif %}{% include 'booster-discounts' %}
<!-- END Shopmessage Script -->
<!-- START Skimlinks Script -->
    <script type="text/javascript" src="https://s.skimresources.com/js/153920X1619852.skimlinks.js"></script>
<!--END Skimlinks Script -->
  </body>
</html>
