<section class="banner-section {% unless section.settings.wide_display %}container wide_display--false{% endunless %}">

{% if section.blocks.size > 0 %}
  <section  class="flexslider homepage_slider"
        data-slider-id="homepage_slider-{{section.id}}"
        data-slideshow-animation="{{section.settings.slideshow_animation}}"
        data-slideshow-speed="{{section.settings.slideshow_speed}}">
    <ul class="slides">
      {% for block in section.blocks %}
        <li class="homepage_slider-slide--{{block.id}}" {{ block.shopify_attributes }} data-block-id="{{block.id}}">
          <a {% unless block.settings.button_label != blank %}{% if block.settings.link != blank %}href="{{ block.settings.link }}"{% endif %}{% endunless %}>
            {% if block.settings.image %}
              <img class="lazyload lazyload--fade-in responsive__image__changer" 
                alt="{{ block.settings.image.alt }}"
                tmp-src="{{ block.settings.image | img_url: '2048x' }}" 
                data-src-desktop="{{ block.settings.image | img_url: '2048x' }}"  
                {% if block.settings.mobile_image %}
                data-src-mobile="{{ block.settings.mobile_image | img_url: '2048x' }}"  />
                {% endif %}
            {% else %}
              {% capture i %}{% cycle "1", "2" %}{% endcapture %}
              {{ 'lifestyle-' | append: i | placeholder_svg_tag: 'placeholder-svg placeholder-svg--slideshow' }}
            {% endif %}
          </a>
          {% if block.settings.title != blank or block.settings.subtext != blank or block.settings.button_label != blank %}
            <div class="flex-caption homepage_slider__flex-caption">
              <div class="container">
                <div class="columns {% if block.settings.text_position == 'left' %} nine offset-by-one {% elsif block.settings.text_position == 'right' %} eight offset-by-seven {% else %} ten offset-by-three {% endif %} align_{{ block.settings.text_align }}">
                  {% if forloop.first == true and block.settings.title != blank %}
                    <h1 class="headline">
                      {{ block.settings.title | escape }}
                    </h1>
                  {% elsif block.settings.title != blank %}
                    <p class="headline">
                      {{ block.settings.title | escape }}
                    </p>
                  {% endif %}
                  {% if block.settings.subtext != blank %}
                    <div class="subtitle">
                      {{ block.settings.subtext | escape }}
                    </div>
                  {% endif %}
                  {% if block.settings.button_label != blank %}
                    <a {% if block.settings.link != blank %}href="{{ block.settings.link }}"{% endif %} class="action_button">
                      {{ block.settings.button_label | escape }}
                    </a>
                  {% endif %}
                </div>
              </div>
            </div>
          	<style>
              li.homepage_slider-slide--{{block.id}} .homepage_slider__flex-caption{
              	{% if block.settings.position_top != blank %}
                top: {{ block.settings.position_top | escape }};
                {% endif %}
              }
              li.homepage_slider-slide--{{block.id}} .homepage_slider__flex-caption .headline,
              li.homepage_slider-slide--{{block.id}} .homepage_slider__flex-caption .subtitle{
              	{% if block.settings.text_color != blank %}
                color: {{ block.settings.text_color | escape }};
                {% endif %}
              }
              li.homepage_slider-slide--{{block.id}} .homepage_slider__flex-caption .action_button{
              	{% if block.settings.button_color != blank %}
                color: {{ block.settings.button_color | escape }};
                {% endif %}
                {% if block.settings.button_border_color != blank %}
                border-color: {{ block.settings.button_border_color | escape }};
                {% endif %}
                {% if block.settings.button_background_color != blank %}
                background-color: {{ block.settings.button_background_color | escape }};
                {% endif %}
              }
          	</style>
          {% endif %}
        </li>
      {% endfor %}
    </ul>
  </section>
{% endif %}

</section>

{% schema %}
{
  "name": "Slideshow",
  "class": "slideshow-section",
  "max_blocks": 12,
  "settings": [
    {
      "type": "select",
      "id": "slideshow_animation",
      "label": "Animation",
      "options": [
        {
          "value": "fade",
          "label": "Fade"
        },
        {
          "value": "slide",
          "label": "Slide"
        }
      ]
    },
    {
      "type": "range",
      "id": "slideshow_speed",
      "label": "Change slides every",
      "min": 4,
      "max": 12,
      "step": 1,
      "default": 6,
      "unit": "sec"
    },
    {
      "type": "checkbox",
      "id": "wide_display",
      "label": "Wide display",
      "default": true
    }
  ],
  "blocks": [
    {
      "type": "slide",
      "name": "Slide",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image Desktop"
        },
        {
          "type": "image_picker",
          "id": "mobile_image",
          "label": "Image Mobile"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Heading"
        },
        {
          "type": "text",
          "id": "subtext",
          "label": "Subheading"
        },
        {
          "type": "select",
          "id": "text_position",
          "label": "Text position",
          "options": [
            {
              "value": "left",
              "label": "Left"
            },
            {
              "value": "center",
              "label": "Center"
            },
            {
              "value": "right",
              "label": "Right"
            }
          ],
          "default": "center"
        },
        {
          "type": "select",
          "id": "text_align",
          "label": "Text alignment",
          "options": [
            {
              "value": "left",
              "label": "Left"
            },
            {
              "value": "center",
              "label": "Center"
            },
            {
              "value": "right",
              "label": "Right"
            }
          ]
        },
        {
          "type": "text",
          "id": "button_label",
          "label": "Button label"
        },
        {
          "type": "url",
          "id": "link",
          "label": "Slide link"
        },
		{
          "type": "text",
          "id": "position_top",
          "label": "Text Position Top"
        },
		{
          "type": "color",
          "id": "text_color",
          "label": "Text Color"
        },
		{
          "type": "color",
          "id": "button_color",
          "label": "Button Color"
        },
		{
          "type": "color",
          "id": "button_border_color",
          "label": "Button Border Color"
        },
		{
          "type": "color",
          "id": "button_background_color",
          "label": "Button Background Color"
        }
      ]
    }
  ],
  "presets": [{
    "name": "Slideshow",
    "category": "Image",
    "settings": {
      "slideshow_animation": "fade"
    },
    "blocks": [
      {
        "type": "slide",
        "settings": {
          "image": "",
          "title": "Retina Shopify Theme",
          "text_position": "center",
          "text_align": "center",
          "button_label": "",
          "link": "",
		  "position_top": "",
		  "text_color": "",
		  "button_color": "",
		  "button_border_color": "",
		  "button_background_color": ""
        }
      },
      {
        "type": "slide",
        "settings": {
          "image": "",
          "title": "",
          "text_position": "center",
          "text_align": "left",
          "button_label": "",
          "link": "",
		  "position_top": "",
		  "text_color": "",
		  "button_color": "",
		  "button_border_color": "",
		  "button_background_color": ""
        }
      }
    ]
  }]
}
{% endschema %}